.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/*/build
packages/*/types
*.typescript
*.tsbuildinfo

.env

*.db
*.db-shm
*.db-wal
tsconfig-local.json
packages/spotify/.env.docker
